/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bkg-color: rgba(255, 241, 247);
  --accent-color: rgb(255, 141, 203);
  --title-text-color: rgb(255, 194, 230);
  --subtitle-color: rgb(53, 52, 48);
  --common-text-color: rgb(53, 52, 48);
  --title-decor-color: rgb(53, 52, 48);
  --title-text-size: 116px;
  --common-text-size: 18px;
  --common-text-color: rgb(53, 52, 48);

  --font-family: 'IBM Plex mono', monospace;

  --display-bulb: none;

  --bkg-image: url(../images/cover-image-light.png);
}
