/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bkg-color: rgba(255, 241, 247);
  --accent-color: rgb(255, 141, 203);
  --title-text-color: rgb(255, 194, 230);
  --subtitle-color: rgb(53, 52, 48);
  --common-text-color: rgb(53, 52, 48);
  --title-decor-color: rgb(53, 52, 48);
  --title-text-size: 116px;
  --common-text-size: 18px;
  --common-text-color: rgb(53, 52, 48);
  --hover-color: rgb(53, 52, 48, 0.5);
  --font-family: 'IBM Plex mono', monospace;

  --display-bulb: none;

  --bkg-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: dark) {
  .page.theme_dark {
    --bkg-color: rgb(0, 0, 40);
    --accent-color: rgb(255, 0, 112);
    --title-text-color: rgba(219, 0, 255);
    --common-text-color: rgba(241, 178, 206);
    --subtitle-color: rgb(255, 0, 112);
    --title-decor-color: rgb(0, 0, 40);
    --title-text-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --common-text-size: 18px;
    --font-family: 'IBM Plex mono', monospace;
    --hover-color: rgb(255, 0, 112, 0.5);
    --bkg-image: url(../images/cover-image-dark.png);

    --display-bulb: inline-block;

    @media (width >= 768px) {
      --title-text-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
  }
}

@media (prefers-color-scheme: light) {
  .page.theme_light {
    --bkg-color: rgba(255, 241, 247);
    --accent-color: rgb(255, 141, 203);
    --title-text-color: rgb(255, 194, 230);
    --subtitle-color: rgb(53, 52, 48);
    --common-text-color: rgb(53, 52, 48);
    --title-decor-color: rgb(53, 52, 48);
    --title-text-size: 116px;
    --common-text-size: 18px;
    --common-text-color: rgb(53, 52, 48);
    --hover-color: rgb(53, 52, 48, 0.5);
    --font-family: 'IBM Plex mono', monospace;
  
    --display-bulb: none;
  
    --bkg-image: url(../images/cover-image-light.png);
  }
}