/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--bkg-image, url(../images/cover-image-dark.png));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  position: relative;
  block-size: 100vh/*calc(100vh - 2 * clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem))*/;
  min-block-size: 668px;
  padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.decorated-zone {
  position: relative;
  /*padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);*/
  
}

.decorated-zone::before {
  display: block;
  content: '';
  position: absolute;
  border-right: 1px solid var(--accent-color);
  border-top: 1px solid var(--accent-color);
  block-size: 25px;
  inline-size: 25px;
  margin: 0;
  inset-inline-end: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  inset-block-start: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.decorated-zone::after {
  display: block;
  content: '';
  position: absolute;
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  block-size: 25px;
  inline-size: 25px;
  margin: 0;
  inset-inline-start: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  inset-block-end: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.header__rec__pseudo {
  position: absolute;
  top: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  right: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.header__rec__pseudo::before {
 content: "REC";
 display: var(--display-bulb);
 color: var(--accent-color);
 font-size: var(--common-text-size, 18px);
 font-family: var(--font-family, monospace);
 font-weight: 400;
 line-height: 25px;
 background-color: inherit;
 inset-inline-end: 0;
}

.header__rec__pseudo::after {
  content: "";
  display: var(--display-bulb);
  margin: 10px;
  height: 9px;
  width: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 5px 2px var(--accent-color);
  inset-inline-end: 0;
}

.header__theme-menu {
  grid-row-start: 1;
  align-self: center;
  justify-self: end;
  margin: 0;
  padding: 0;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 15px;
  list-style-type: none;
  text-align: center;

  @media (width >= 1024px) {
    flex-direction: row;
  }
}

.header__theme-menu-button {
  font-family: var(--font-family, 'IBM Plex mono', monospace);
  font-style: normal;
  font-weight: 400;
  font-size: var(--common-text-size, 18px);
  line-height: 18px;
  color: var(--subtitle-color, rgb(255, 0, 112));
  background-color: transparent;
  border: none;
  padding: 2px 10px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color, rgb(255, 0, 112, 0.5));
  outline-offset: 1px;
  text-decoration: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--subtitle-color, rgb(255, 0, 112));
  outline: none;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--accent-color, rgb(255, 0, 112));
}

.title {
  grid-row-start: 2;
  align-self: center;
  justify-self: start;
  margin: 0;
  padding: 0;
  font-family: var(--font-family, 'IBM Plex mono', monospace);
  color: var(--title-text-color, rgba(219, 0, 255));
  font-size: var(--title-text-size, 116px);
  font-style: normal;
  font-weight: bold;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color, rgb(255, 0, 112));
}

.title__comment-container {
  grid-row-start: 3;
  align-self: center;
  justify-self: end;
  margin: 0;
  padding: 0;
}

.title__comment {
  letter-spacing: 0.15em;
  word-spacing: 7px;
}

.title-decor {
  font-family: var(--font-family, 'IBM Plex mono', monospace);
  font-style: normal;
  font-weight: 700;
  font-size: var(--common-text-size, 18px);
  line-height: 23px;
  background-color: var(--accent-color, rgb(255, 0, 112));
  color: var(--title-decor-color, rgb(0, 0, 40));
  word-spacing: 4px;
  letter-spacing: 0.03em;
  margin: 0;
}

.accent__title__for__tips {
  max-block-size: 23px;
  margin-block-end: 20px;
}

@media (width >= 768px) {

  .title__comment-container {
    grid-row-start: 3;
    inline-size: calc(50vw - clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem));
  }
  
  .subtitle {
    max-inline-size: 220px;
  }
}

@media (width >= 1024px) {
  .subtitle {
    max-inline-size: 300px;
  }

  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }
}

.content {
  display: flex;
  flex-direction: column;
  background-color: var(--bkg-color);
}

.content__section {
  margin: clamp(3.125rem, 1.3359rem + 7.6336vw, 5rem) clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem) 0;
  display: grid;
  gap: 20px;

  @media (width >= 768px) {
    grid-template-columns: 1fr 2fr;
    margin: 80px 20px 0;
  }
}

.accent__margin-block-start {
  margin: clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem) clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem) 0;
  @media (width >= 768px) {
    margin: 60px 20px 0;
  }
}

.content__section__list {
  display: grid;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;

  @media (width >= 768px) {
    grid-column-start: 2;
  }
}

.subtitle {
  font-family: var(--font-family, 'IBM Plex mono', monospace);
  font-style: normal;
  font-weight: 700;
  font-size: var(--common-text-size, 18px);
  line-height: 23px;
  color: var(--subtitle-color, rgb(255, 0, 112));
  letter-spacing: 0.03em;
  margin: 0;
  grid-column-start: 1;
}

.text__container {
  margin: 0;
  padding: 0;
}

.text {
  font-family: var(--font-family, 'IBM Plex mono', monospace);
  font-style: normal;
  font-weight: 400;
  font-size: var(--common-text-size, 18px);
  line-height: 23px;
  color: var(--common-text-color, rgba(241, 178, 206, 1));
  letter-spacing: 0.055em;
  word-spacing: 0.055em;
  background-color: var(--bkg-color, rgb(0, 0, 40));
  margin: 15px 0 0px;
}

@media (width >= 768px) {
  .accent-position__list {
    grid-column: span 2;
  }

  .text {
    letter-spacing: 0.05em;
    word-spacing: normal;
  }
}

@media (width >= 1024px) {
  .accent-position__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .text {
    margin: 10px 0 0;
    line-height: 23.4px;
    letter-spacing: 0.04em;
    word-spacing: 0.03em;
  }
}

.text__link {
  text-shadow: 2px 2px 0 var(--accent-color, rgb(255, 0, 112));
  text-decoration: none;
  color: var(--common-text-color, rgba(241, 178, 206, 1));
}

.text__link:hover {
  outline: none;
  border-block-end: 1px solid var(--common-text-color);
}

.text__link:focus-visible {
  border: none;
  text-decoration: none;
  outline: 1px solid var(--common-text-color, rgb(241, 178, 206));
  outline-offset: 2px;
}

.accent__tips {
  margin-block-start: 20px;
}

.tips {
  margin: 0 0 0;
}

.tip {
  font-family: var(--font-family, 'IBM Plex mono', monospace);
  font-style: normal;
  font-weight: 400;
  font-size: var(--common-text-size, 18px);
  line-height: 23px;
  background-color: var(--accent-color, rgb(255, 0, 112));
  color: var(--bkg-color, rgb(0, 0, 40));
  margin: 0 auto;
}

.gallery {
  margin: clamp(3.125rem, 1.3359rem + 7.6336vw, 5rem) clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem) 0;

  @media (width >= 768px) {
    margin: 80px 20px 0;
  }
}

.cards {
 display: grid;
 gap: 1.25rem;
 padding: 20px 0 0;

 @media (width >= 768px) {
  padding: 20px 0 0;
  grid-template-columns: repeat(3, 1fr);

  .picture_sunset {
    grid-column: span 2;
  }
  .picture_ice-cream {
    grid-row: span 2;
  }
  .picture_tape {
    grid-row: span 2;
  }
  .picture_street {
    grid-column: span 2;
  }
 }
}

.picture {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;

  @media (width >= 768px) {
    inline-size: 100%;
  }
}

.footer {
  display: grid;
  justify-items: center;
  align-items: center;
  block-size: 100vh/*calc(100vh - 2 * clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem))*/;
  min-block-size: 668px;
  padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  margin: calc(clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem) - clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem)) 0 0/*clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem) clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem)*/;
  @media (width >= 768px) {
    margin: 70px 0 0;
  }
}

.footer__title {
  font-family: var(--font-family, 'IBM Plex mono', monospace);
  color: var(--title-text-color, rgba(219, 0, 255));
  font-size: var(--title-text-size, 116px);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--accent-color, rgb(255, 0, 112));  
}

